*:before, *:after {
    box-sizing: inherit;
}

* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}